<%-include('parts/header')-%>

<div class="container">
<% years.forEach(function(y) {%>
    <p>
        <h6 class='uderscore'><%=y.year%> РІК</h6>
    <%y.semesters.forEach(function(s) {%>
        <p>Семестер: <a href='/<%=y.year%>/<%=s%>'><%=s%></a></p>
    <%});%>
    </p>
<% }); %>
</div>



<%-include('parts/footer')-%>