<%-include('parts/header')-%>
<div class="container">


<ul class="collection with-header">
    <li class="collection-header">
            
        <h5><%=semesters[0].student.name%></h5>
        <h6>Група: <%=semesters[0].student.group%></h6>
        <h6>Спеціальність: <%=semesters[0].speciality.name%></h6>
    </li>
    <%semesters.forEach(function(s) {%>
        
        <li class="collection-item">
            <u><h6>Семестр: <%=s.semester%>, рік <%=s.year%></h6></u>
            <table class="table-student points">
               <tr>
                    <th>Предмет</th>
                    <th>Отримана оцінка</th>
                </tr>
                <%for (let i = 0; i < s.student.points.length; i++) {%>
                    <tr>
                        <td><%=s.subjects[i]%></td>
                        <td class="point"><%=s.student.points[i]%></td>
                    
                    </tr>
                    <%}%> 
                </table>  
                <table class="table-student info">
                    <tr>
                        <td>Середній бал</td>
                        <td class="average"><%=s.student.avg%></td>
                    </tr>
                    <tr>
                        <td>На бюджеті</td>
                        <td><%=s.student.isBudget?'ТАК':'НІ'%></td>
                    </tr> 
                    <tr>
                        <td>Стипендія</td>
                        <td><%=s.student.isStipend?'ТАК':'НІ'%></td>
                    </tr>        
                </table>
        </li>

    <%})%>
</ul>
<div class="chart-container" style="position: relative; height:25vh; width:50vw">
<canvas id="line-chart" width="250" height="200"></canvas>
</div>
</div>


<script src="/js/chart.2.8.js"></script>
<%-include('parts/footer')-%>